aiohttp==3.2.1
django-environ==0.8.1
amqp==2.6.1
appdirs==1.4.4
asgiref==3.4.1
async-timeout==3.0.1
attrs==18.1.0
azure-common==1.1.27
azure-nspkg==3.0.2
azure-storage-blob==1.3.1
azure-storage-common==1.3.0
azure-storage-nspkg==3.1.0
beautifulsoup4==4.10.0
behave==1.2.6
behave-django==1.4.0
billiard==3.5.0.5
boto3==1.9.105
botocore==1.12.253
browsermob-proxy==0.8.0
bs4==0.0.1
cached-property==1.5.2

cachetools==4.2.4
cairocffi==1.2.0
CairoSVG==2.5.2
celery==4.1.1
certifi==2021.10.8
cffi==1.15.0
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
cryptography==36.0.1
cssselect2==0.4.1
currencies==2014.7.13
defusedxml==0.7.1
dialogflow==0.6.0
dictdiffer==0.7.1
Django==2.0.9
django-allauth==0.37.1
django-cors-headers==2.1.0
django-extra-fields==0.9
django-filter==2.0.0
django-guardian==1.4.9
django-redis==4.9.0
django-rest-auth==0.9.3
django-rest-swagger==2.2.0
django-storages==1.7.1
djangorestframework==3.8.2
djangorestframework-jwt==1.11.0
docutils==0.15.2
drf-extensions==0.4.0
drf-tracking==1.4.0
google-api-core==1.31.5
google-api-python-client==1.6.4
google-auth==1.35.0
googleapis-common-protos==1.54.0
googlemaps==3.0.2
grpcio==1.43.0
gunicorn==19.9.0
html5lib==1.1
httplib2==0.10.3
icalendar==4.0.1
idna==2.7
idna-ssl==1.1.0
iso3166==0.9
isodate==0.6.1
isort==4.3.18
itypes==1.2.0
Jinja2==3.0.3
jmespath==0.10.0
kombu==4.2.0
logdna==1.2.8
lxml==4.2.5
MarkupSafe==2.0.1
multidict==4.7.6
nexmo==2.1.0
oauth2client==4.1.3
oauthlib==3.1.1
openapi-codec==1.3.2
packaging==21.3
parse==1.19.0
parse-type==0.6.0
pdfrw==0.4
phonenumbers==8.9.13
Pillow==5.2.0
plaid-python==2.3.4
protobuf==3.19.3
psycopg2-binary==2.7.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
PyJWT==1.7.1
pyparsing==3.0.7
pyphen==0.11.0
PySocks==1.7.1
python-dateutil==2.8.2
python-http-client==3.3.5
python3-openid==3.2.0
pytz==2021.3
PyYAML==6.0
redis==2.10.6
requests==2.19.1
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rsa==4.8
s3transfer==0.2.1
selenium==3.141.0
sendgrid==3.6.5
sendgrid-django==4.2.0
simplejson==3.17.6
six==1.16.0
slackclient==1.3.0
soupsieve==2.3.1
sqlparse==0.4.2
stringcase==1.2.0
stripe==1.79.1
tinycss2==1.1.1
titlecase==0.12.0
twilio==6.10.1
typing-extensions==4.0.1
uritemplate==3.0.1
urllib3==1.23
vine==1.3.0
WeasyPrint==0.42.3
webencodings==0.5.1
websocket-client==0.59.0
yarl==1.7.2
zeep==3.1.0
