{% extends 'account/email/email_base.html' %}

{% block title %}
    <title>Voyajoy - Reset Password</title>
{% endblock %}

{% block body %}
    <h1>
        Hi, {{ user.first_name }}!
    </h1>
    <p>
        To reset your password, please verify your <span id="email">{{ user.email }}</span> account
        by clicking the link.
    </p>
    <a id="button-link"
       href="{{ protocol }}://{{ domain }}/reset-password?uid={{ uid }}&token={{ token }}"
       target="_blank">Reset Password</a>
    <p id="after-button">
        If you didn’t request this, you can ignore this email or
        let us know. Your password won’t change until you
        create a new password
    </p>
{% endblock %}
